﻿@model DroneBook.WebUI.Controllers.ProbyViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Proby</h2>
<h2>Model:</h2>
<p>First name: <input data-bind="value: firstName" /></p>
<p>Last name: <input data-bind="value: lastName" /></p>
<h2>Hello, <span data-bind="text: fullName"> </span>!</h2>

<script>
    var ViewModel = function (first, last) {
        self = this;
        self.firstName = ko.observable(first);
        self.lastName = ko.observable(last);

        this.fullName = ko.pureComputed(function () {
            // Knockout tracks dependencies automatically. It knows that fullName depends on firstName and lastName, because these get called when evaluating fullName.
            return self.firstName() + " " + self.lastName();
        }, self);
    };

    $.getJSON("http://localhost:50644/api/defaulttest", function (data) {
        console.log("jest " + data[0]);
        ko.applyBindings(new ViewModel(data[0], data[1] + " " + data[2]));
    });
</script>