﻿body {
    background: #95a5a6;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.item-holder {
    padding: 16px;
    margin: 16px;
    background-color: #ecf0f1;
}

.item-holder-top {
    vertical-align: top;
    margin-left: 16px;
}


.image-holder {
    height: 124px;
    width: 124px;
}
