﻿@model DroneBook.BusinessLogic.Services.Drone
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<div>
    <table class="table-condensed">
        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>
    </table>
</div>


















<!--
<script>
    var DetailDroneViewModel = {
        id: window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1),
        cos : "asd",

        DroneCreate : function(data) {
            var self = this;
            self.Name = data.name;
            self.Description = data.description;
        },

        DownloadData: function () {
            console.log(this);
            $.getJSON("http://localhost:50644/api/createdroneapi"+id, function (data) {
                console.log(data.toLowerCase());
                this.Drone = new DroneCreate(data);
                console.log(data);
            });
            ko.applyBindings(this.Drone);
        }
    };

    
    DetailDroneViewModel.DownloadData();
    //onsole.log(root.id);
    

</script>
    -->