﻿@model DroneBook.WebUI.ViewModels.DroneListViewModel
@{
    ViewBag.Title = "List of drones";
}

<div class="item-holder">
    <button type="button" class="btn-primary" onclick="location.href='@Url.Action("Create","CreateDrone")'">Create new</button>
</div>
<div data-bind="foreach: drones">
    <div class="item-holder">
        <div style="display: inline-block">
            <img class="image-holder" src="http://fandimefilmu.cz/assets/images/emptyAvatar.jpg" />
        </div>
        <div class="item-holder-top" style="display: inline-block">
            <div style="display: none" data-bind="text: Id"></div>

            <h4 class="h4" data-bind="text: Name"></h4>
            <div data-bind="text: Description"></div>
            <div data-bind="text: Type"></div>
            <div data-bind="text: Size"></div>
        </div>
        <div style="float: right; display: inline-block; vertical-align: top; margin-left: 16px">
            <input style="float: right" type="submit" value="Delete" class="btn-primary" data-bind="click: function(){ Delete($element) }, attr: { 'data-Id': Id }" />
        </div>
    </div>
</div>


<script>
    function ViewModel(data) {
        var self = this;
        self.drones = (JSON.parse(data));
    }

    $.getJSON("http://localhost:50644/api/createdroneapi", function (data) {
        console.log(data.toLowerCase());
        ko.applyBindings(new ViewModel(data));
    });



    function Delete(element) {
        var id = $(element).attr("data-id");

        var postUrl = "http://localhost:50644/api/CreateDroneApi/" + id.toString();
        $.ajax(postUrl, {
            data: ko.toJSON(),
            type: "Delete",
            contentType: "application/json",
            success: function () {
                //confirm("Twój dron został usunięty poprawnie!");
                window.location = "/";
            },
            error: function () {
                confirm("Nie udało się usunąć");
            }
        });
    }
</script>
