﻿@model DroneBook.WebApi.ViewModel.CreateDroneViewModel

@{
    ViewBag.Title = "DroneBook - Create your drone ";
}


<div style="display: inline-block; width: 800px">
    <div class="item-holder">
        <h4 class="h4">Basics</h4>
        <div id="0" data-bind="slideToggle: $root.currentPage() === 0">
            <h5 class="h5">Name</h5>
            <p>@Html.TextBoxFor(m => m.Name, new { @class = "form-control", data_Bind = "value: $root.Drone.Name, hasFocus: $root.currentPage() === 0" }) </p>
            <h5 class="h5">Description</h5>
            <p>@Html.TextBoxFor(m => m.Description, new { @class = "form-control", data_Bind = "value: $root.Drone.Description" }) </p>
            <h5 class="h5">Type</h5>
            <p>@Html.TextBoxFor(m => m.Type, new { @class = "form-control", data_Bind = "value: $root.Drone.Type" }) </p>
            <h5 class="h5">Size</h5>
            <p>@Html.TextBoxFor(m => m.Size, new { @class = "form-control", data_Bind = "value: $root.Drone.Size" }) </p>
            <hr />
        </div>
    </div>
    <div class="item-holder">
        <h4 class="h4">Parts</h4>
        <div id="1" data-bind="slideToggle: $root.currentPage() === 1">
            <div id="PartsList">
                <h5 class="h5">Controller</h5>
                <p id="part">
                    @Html.TextBoxFor(m => m.Parts[0].Name, new { @class = "form-control", data_Bind = "value: $root.Drone.Controller, hasFocus: $root.currentPage() === 1" })
                    @Html.EnumDropDownListFor(m => m.Parts[0].PartType, new { @class = "form-control", @style = "display: none" })
                </p>
                <h5 class="h5">ESC</h5>
                <p>
                    @Html.TextBoxFor(m => m.Parts[1].Name, new { @class = "form-control", data_Bind = "value: $root.Drone.ESC" })
                    @Html.EnumDropDownListFor(m => m.Parts[1].PartType, new { @class = "form-control", @style = "display: none" })
                </p>
                <h5 class="h5">Rotors</h5>
                <p>
                    @Html.TextBoxFor(m => m.Parts[2].Name, new { @class = "form-control", data_Bind = "value: $root.Drone.Rotors" })
                    @Html.EnumDropDownListFor(m => m.Parts[2].PartType, new { @class = "form-control", @style = "display: none" })
                </p>
                <hr />
            </div>
            <input id="AddField" class="btn" type="button" value="Add new Field" />
            <hr />
        </div>
    </div>
    <div class="item-holder">
        <h4 class="h4">Image</h4>
        <div id="2" data-bind="slideToggle: $root.currentPage() === 2">
            <br />
            <input type="file" id="files" name="files[]" multiple />
            <br />
        </div>
    </div>
</div>
<div style="display: inline-block; vertical-align: top">
    <div class="item-holder">
        <h2 class="h2">Summary</h2>
        <div>
            <strong>Your drone:</strong><br />
            <output id="list"></output> <br /><br />
            <strong>Name:</strong> <span data-bind="text: $root.Drone.Name"></span><br />
            <strong>Type:</strong> <span data-bind="text: $root.Drone.Type"></span><br />
            <strong>Description:</strong> <span data-bind="text: $root.Drone.Description"></span><br />
            <strong>Size:</strong> <span data-bind="text: $root.Drone.Size"></span><br />
            <strong>Controller:</strong> <span data-bind="text: $root.Drone.Controller"></span><br />
            <strong>ESC:</strong> <span data-bind="text: $root.Drone.ESC"></span><br />
            <strong>Rotors:</strong> <span data-bind="text: $root.Drone.Rotors"></span><br />
        </div>
        <input id="SendButton" type="submit" value="Save" class="btn" data-bind="click: Send" />

    </div>
    <div style="padding: 16px; margin: 16px">
        <input class="ShowBasics btn" type="button" value="Back" data-bind="click: PreviousPage" />
        <input class="ShowParts btn" type="button" value="Next" data-bind="click: NextPage" />
    </div>
</div>

<script src="~/ViewModels/CreateDroneViewModel.js"></script>
